<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="zh_CN" id="data-ng-app" data-ng-app="MyApp">

<head>
    <meta charset="utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>多标签页面</title>
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
    <base href="/">

    <link rel="stylesheet" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div ng-controller="AppCtrl" class="sample tabsdemoDynamicTabs" layout="column" ng-cloak="">
        <md-content class="md-padding">
            <md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
                <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                    <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                        <!--<div ng-bind="tab.content"></div>-->
                        <div ng-include="tab.templateUrl"></div>
                        <br>
                        <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>

        <form ng-submit="addTab(tTitle,tContent,tTemplateUrl)" layout="column" class="md-padding" style="padding-top: 0;">
            <div layout="row" layout-sm="column">
                <div flex="" style="position: relative;">
                    <h2 class="md-subhead" style="position: absolute; bottom: 0; left: 0; margin: 0; font-weight: 500; text-transform: uppercase; line-height: 35px; white-space: nowrap;">Add a new Tab:</h2>
                </div>
                <md-input-container>
                    <label for="label">Label</label>
                    <input id="label" ng-model="tTitle" type="text">
                </md-input-container>
                <md-input-container>
                    <label for="content">Content</label>
                    <input id="content" ng-model="tContent" type="text">
                </md-input-container>
                <md-input-container>
                    <label for="templateUrrl">templateUrl</label>
                    <input id="templateUrl" ng-model="tTemplateUrl" type="text">
                </md-input-container>
                <md-button class="add-tab md-primary md-raised" ng-disabled="!tTitle || !tContent" type="submit" style="margin-right: 0;">Add Tab</md-button>
            </div>
        </form>

    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
</body>

</html>