<div class="wrapper" ng-controller="DashboardController as vm" >
    <!--<table style="width:100%;height:100%;table-layout: fixed">-->
        <!--<tbody>-->
        <!--<tr style="width:100%;height: 50%;">-->
            <!--<td colspan="6" style="width:30%;padding:10px;">-->
                <!--<div id="water" class="block" style="width:100%;height:100%;overflow:hidden"></div
>-->
            <!--</td>-->
            <!--<td colspan="4" style="width:20%;padding:10px;">-->
                <!--<div class="block" style="width:100%;height:100%;overflow:hidden;color: #ffffff;"
>-->
                    <!--<table style="width:100%;height:100%;overflow:hidden">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>乡镇名</th>-->
                            <!--<th>今日处理量</th>-->
                            <!--<th>人均</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat=" item in vm.todayWaterTotal">-->
                            <!--<td>{{item.townName}}</td>-->
                            <!--<td>{{item.todayTotal}}/M³</td>-->
                            <!--<td>{{item.personAvg}}/M³</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</td>-->
            <!--<td colspan="6" style="width:30%;padding:10px;">-->
                <!--<div id="garbage" class="block" style="width:100%;height:100%;overflow:hidden"><
/div>-->
            <!--</td>-->
            <!--<td colspan="4" style="width:20%;padding:10px;">-->
                <!--<div class="block" style="width:100%;height:100%;overflow:hidden;color: #ffffff;"
>-->
                    <!--<table style="width:100%;height:100%;overflow:hidden;">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>乡镇名</th>-->
                            <!--<th>今日处理量</th>-->
                            <!--<th>人均</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat=" item in vm.todayGarbageTotal">-->
                            <!--<td>{{item.townName}}</td>-->
                            <!--<td>{{item.todayTotal}}Kg</td>-->
                            <!--<td>{{item.personAvg}}Kg</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr style="width: 100%;height: 50%;">-->
            <!--<td colspan="8" style="width: 30%;padding: 10px;">-->
                <!--<div id="healthy" class="block" style="width:100%;height:100%;overflow:hidden"><
/div>-->
            <!--</td>-->
            <!--<td colspan="6"  style="width: 35%;padding: 10px;">-->
                <!--<div id="alarmWater" class="block" style="width:100%;height:100%;overflow:hidden"
></div>-->
            <!--</td>-->
            <!--<td colspan="6"  style="width: 35%;padding: 10px;">-->
                <!--<div id="alarmGarbage" class="block" style="width:100%;height:100%;overflow:hidden"
></div>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
    <div style="position: absolute;top: 0;right: 50%;bottom: 0;left: 0;">
        <div id="water" class="block"></div>
    </div>
    <div style="position: absolute;top: 0;right: 0;bottom: 0;left: 50%;">
        <div class="block" style="color: #ffffff;">
            <table style="width:100%; height: 100%;">
                <thead>
                <tr>
                    <th>乡镇名</th>
                    <th>今日处理量</th>
                    <th>人均</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat=" item in vm.todayWaterTotal">
                    <td>{{item.townName}}</td>
                    <td>{{item.todayTotal}}/M³</td>
                    <td>{{item.personAvg}}/M³</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>